<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../views/partials/head.ejs', {title: 'G Test' }); %>
</head>

<body>
  <div id="page-container">
    <div id="content-wrap">
      <%- include('../views/partials/navbar.ejs'); %>
        <div class="margin-top-10">
          <% if ( typeof updateInfoMessage==='undefined' || updateInfoMessage.length===0) { %>
            <h1 class="txt-cntr">Book your G driving test now</h1>
            <div id="message">
              <% if ( typeof bookingMessage !=='undefined' ) { %>
                <h5 class="txt-color-theme txt-cntr">
                  <%= bookingMessage %>
                </h5>
                <% } %>
            </div>
            <% } %>

              <div id="message">
                <% if ( typeof user !=='undefined' && user.testResult==='Currently not available' ) { %>
                  <form action="/user/book-slot" method="POST">
                    <div class="container-cntr flex-row">
                      <section id="personal-detail-container">
                        <h4 class="txt-color-theme">Select date and slots</h4>
                        <div class="mb-3">
                          <label for="slotDate" class="form-label">Slot Date</label>
                          <input type="date" class="form-control" name="date" id="bookSlotDate" required />
                        </div>
                        <label for="time" class="sr-only">Select Slot</label>
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            id="avaTimeSlotBtn" aria-expanded="false">
                            Select slot
                          </button>
                          <ul class="dropdown-menu" id="dropdown-menu-slot-g2"></ul>
                        </div>
                        <input type="hidden" name="time" value="-" id="avaTimeSlot" />
                        <input type="hidden" name="testType" value="g" id="testType" />
                        <button type="submit" class="btn txt-color">
                          Book appointment
                        </button>
                      </section>
                    </div>
                  </form>
                  <%}%>
              </div>


        </div>
        <%- include('../views/partials/footer.ejs'); %> <%- include('../views/partials/scripts.ejs'); %>
    </div>
  </div>
</body>

</html>